<header class="navbar">
  <div class="brand">
    <img src="assets/logo-vitis.png" alt="Vitis & Byte Logo" class="logo">
    <div class="welcome">
      <h2>BIENVENIDO</h2>
      <p>{{ primerNombre()}}</p>
    </div>
  </div>
  
  <div class="search-bar">
    <input type="text" placeholder="Buscar botella o categoría..." (input)="onSearch($event)">
  </div>

  <div class="user-actions" style="display: flex; gap: 25px; align-items: center;">
    
    <!-- Botón de Mis Pedidos -->
    <div class="cart-icon-container" routerLink="/pedidos" style="font-size: 20px;">
      <i class="fas fa-clipboard-list"></i>
      <span style="font-size: 14px; margin-left: 5px; font-weight: bold;">Mis Pedidos</span>
    </div>

    <!-- Tu Carrito de Compras Intacto -->
    <div class="cart-icon-container" routerLink="/carrito">
      <i class="fas fa-shopping-cart"></i>
      @if (carritoService.totalArticulos() > 0) {
        <span class="cart-badge">
          {{ carritoService.totalArticulos() }}
        </span>
      }
    </div>

  </div>
</header>

<section class="grid">
  @for (p of filteredProducts(); track p.id) {
    <app-product-card [product]="p" (add)="agregar($event)"></app-product-card>
  } @empty {
    <div class="no-results">
      <p>No se encontraron productos para "{{ searchTerm() }}"</p>
    </div>
  }
</section>