<article class="card" (click)="verDetalle.emit(product)">
  <div class="image-container">
    <img [src]="product.imageUrl" [alt]="product.name" />
  </div>

  <div class="body">
    <h3 class="title">{{ product.name }}</h3>
    <span class="price">{{ product.price | currency:'MXN' }}</span>

    <div class="card-add-controls" (click)="$event.stopPropagation()">
      <input type="number" class="qty-input" min="1" value="1" #cantidadInput>
      <button class="add-btn" (click)="onAdd(cantidadInput.value)">
        <i class="fas fa-cart-plus"></i> Añadir
      </button>
    </div>
  </div>
</article>
